<main class="sn-w-30 sn-center sn-ptop-5">
    <mat-card>
        <mat-card-title class="sn-txt-center sn-pbottom-1">Cadastrar usuário</mat-card-title>
        <mat-card-content>
            <form [formGroup]="userRegistrationForm" (ngSubmit)="registerUser()">
                <mat-form-field appearance="fill" class="sn-w-100 sn-pbottom-1">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="socialName">
                    <mat-error *ngIf="userRegistrationForm.get('socialName')?.hasError('required')">Informe o seu nome</mat-error>
                    <mat-error
                        *ngIf="userRegistrationForm.get('socialName')?.hasError('minlength') && !userRegistrationForm.get('socialName')?.hasError('pattern')">O
                        nome deve ter no mínimo 3 caracteres</mat-error>
                    <mat-error
                        *ngIf="userRegistrationForm.get('socialName')?.hasError('maxlength') && !userRegistrationForm.get('socialName')?.hasError('pattern')">O
                        nome não pode ultrapassar 100 caracteres</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="sn-w-100 sn-pbottom-1">
                    <mat-label>Nome de usuário</mat-label>
                    <input matInput formControlName="userName">
                    <mat-error *ngIf="userRegistrationForm.get('userName')?.hasError('required')">Informe o seu
                        nome de usuário</mat-error>
                    <mat-error *ngIf="userRegistrationForm.get('userName')?.hasError('pattern')">O nome de usuário não
                        pode conter espaços, caracteres especiais e deve iniciar com letra</mat-error>
                    <mat-error
                        *ngIf="userRegistrationForm.get('userName')?.hasError('minlength') && !userRegistrationForm.get('userName')?.hasError('pattern')">O
                        nome de usuário deve ter no mínimo 3 caracteres</mat-error>
                    <mat-error
                        *ngIf="userRegistrationForm.get('userName')?.hasError('maxlength') && !userRegistrationForm.get('userName')?.hasError('pattern')">O
                        nome de usuário não pode ultrapassar 30 caracteres</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="sn-w-100 sn-pbottom-1">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="userRegistrationForm.get('email')?.hasError('required')">Informe o seu
                        email</mat-error>
                    <mat-error *ngIf="userRegistrationForm.get('email')?.hasError('pattern')">Email
                        inválido</mat-error>
                    <mat-error
                        *ngIf="userRegistrationForm.get('email')?.hasError('maxlength') && !userRegistrationForm.get('email')?.hasError('pattern')">O
                        email não deve ultrapassar 100 caracteres</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="sn-w-100 sn-pbottom-1">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'"
                        (ngModelChange)="updateValidatorConfirmPassword()">
                    <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword">
                        <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userRegistrationForm.get('password')?.hasError('required')">Informe a sua
                        senha</mat-error>
                    <mat-error *ngIf="userRegistrationForm.get('password')?.hasError('pattern')">
                        A senha deve ter no mínimo: uma letra, um número e oito caracteres
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="sn-w-100 sn-pbottom-1">
                    <mat-label>Confirme a senha</mat-label>
                    <input matInput formControlName="confirmPassword"
                        [type]="showConfirmPassword ? 'text' : 'password'">
                    <button mat-icon-button matSuffix type="button"
                        (click)="showConfirmPassword = !showConfirmPassword">
                        <mat-icon>{{showConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userRegistrationForm.get('confirmPassword')?.hasError('required')">Confirme a
                        sua senha</mat-error>
                    <mat-error *ngIf="userRegistrationForm.get('confirmPassword')?.hasError('confirm')">Senhas
                        inconsistentes</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" class="sn-w-100 sn-mtop-1">Cadastrar</button>
                <div class="sn-mtop-1 sn-txt-center">
                    <a [routerLink]="['/login']">Cancelar</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</main>