<main class="sn-w-30 sn-center sn-ptop-5">
    <mat-card>
        <mat-card-title class="sn-txt-center sn-pbottom-1">Cadastrar usuário</mat-card-title>
        <mat-card-content>
            <form [formGroup]="userRegistrationForm" (ngSubmit)="registerUser()">
                <mat-form-field appearance="fill" class="sn-w-100">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="userName">
                    <mat-error *ngIf="userRegistrationForm.get('userName')?.hasError('required')">Informe o seu nome</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="sn-w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="userEmail" type="email">
                    <mat-error *ngIf="userRegistrationForm.get('userEmail')?.hasError('required')">Informe o seu email</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="sn-w-100">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="userPassword" [type]="showPassword ? 'text' : 'password'">
                    <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword">
                        <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userRegistrationForm.get('userPassword')?.hasError('required')">Informe a sua senha</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="sn-w-100">
                    <mat-label>Confirme a senha</mat-label>
                    <input matInput formControlName="userConfirmPassword" [type]="showConfirmPassword ? 'text' : 'password'">
                    <button mat-icon-button matSuffix type="button" (click)="showConfirmPassword = !showConfirmPassword">
                        <mat-icon>{{showConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userRegistrationForm.get('userConfirmPassword')?.hasError('required')">Confirme a sua senha</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" class="sn-w-100 sn-mtop-1">Cadastrar</button>
                <div class="sn-mtop-1 sn-txt-center">
                    <a [routerLink]="['/login']">Cancelar</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</main>