<main class="sn-w-30 sn-center sn-ptop-5">
    <mat-card>
        <mat-card-title class="sn-txt-center sn-pbottom-1">Social Network</mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field appearance="fill" class="sn-w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="userEmail" type="email">
                    <mat-error *ngIf="loginForm.get('userEmail')?.hasError('required')">Informe o seu email</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="sn-w-100">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="userPassword" [type]="showPassword ? 'text' : 'password'">
                    <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword">
                        <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('userPassword')?.hasError('required')">Informe a sua senha</mat-error>
                </mat-form-field>
                <div class="sn-flex sn-jc-space-between sn-items-center">
                    <a [routerLink]="['/user-registration']">Cadastre-se</a>
                    <button mat-raised-button color="primary" type="submit">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</main>